# Output files
*.gv
*.npy
*.pdf
*.pickle
*.png
*.svg
*.v2
*.xml

# Build files
*.egg-info/
*build/
.eggs/
.fuse_*
dist/
version.py

# Temporary files
*.pyc
.coverage
.coverage.*
.ipynb_checkpoints/
.mypy*/
.pytest_cache/
.virtual_documents/
__pycache__/
htmlcov/
prof/

# Virtual environments
*venv/
.tox/
pyvenv*/

# Settings
.idea/
**.code-workspace

# Exceptions
!.github/*.yml
!.github/*/*.yml
!.pre-commit-config.yaml
!.readthedocs.yml
!codecov.yml
