# Temporary files
.ipynb_checkpoints/
condaenv.*

# Build output
*.egg-info/
*build/
.fuse_*
dist/
htmlcov/
version.py

# Python temporary files
*.egg-info/
*.pyc
.coverage
.coverage.*
.eggs/
.ipynb_checkpoints/
.mypy*/
.pytest_cache/
.tox/
__pycache__/
prof/

# Virtual environments
*venv/
.tox/
pyvenv*/

# Settings
**.code-workspace
.idea/
