ci:
  autofix_commit_msg: "MAINT: implement pre-commit autofixes"
  autoupdate_commit_msg: "MAINT: upgrade lock files"
  skip:
    - check-jsonschema
    - ty
    - uv-lock

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/ComPWA/policy
    rev: 0.8.2
    hooks:
      - id: check-dev-files
        args:
          - --ci-skipped-tests=all
          - --macos-python-version=disable
          - --no-cd
          - --no-pypi
          - --repo-name=PWA-pages
          - --repo-title=PWA Pages
          - --type-checker=ty

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: >
          (?x)^(
            .*\.bib|
            .*\.svg|
            \.cspell\.json
          )$
      - id: mixed-line-ending
      - id: name-tests-test
        name: Tests should start with test_
        args: ["--django"]
      - id: trailing-whitespace

  - repo: https://github.com/ComPWA/prettier-pre-commit
    rev: v3.8.1
    hooks:
      - id: prettier

  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format

  - repo: https://github.com/pappasam/toml-sort
    rev: v0.24.3
    hooks:
      - id: toml-sort
        args:
          - --in-place

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.36.1
    hooks:
      - id: check-jsonschema
        name: Check project inventory YAML files
        language: python
        files: docs/software/.*\.yml
        types: [yaml]
        args: ["--schemafile", "./docs/software/project-inventory-schema.json"]

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v9.6.0
    hooks:
      - id: cspell

  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 3.6.0
    hooks:
      - id: editorconfig-checker
        name: editorconfig
        alias: ec
        exclude: >-
          (?x)^(
            .*\.py
          )$

  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: ty check
        args: [--no-progress, --output-format=concise]
        pass_filenames: false
        require_serial: true
        language: system
        types_or: [python, pyi, jupyter]

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.10.2
    hooks:
      - id: uv-lock
