[build-system]
requires = [
    "setuptools>=30.3.0",
    "setuptools_scm",
    "wheel",
]

[tool.setuptools_scm]
write_to = "version.py"

[tool.black]
line-length = 79
target-version = [
    'py35',
    'py36',
    'py37',
    'py38',
]
include = '\.pyi?$'
exclude = '''
/(
    .*\.egg-info
  | .*build
  | \.eggs
  | \.git
  | \.pytest_cache
  | \.tox
  | \.venv
  | \.vscode
  | dist
)/
'''

[tool.isort]
profile = "black"
src_paths = ["doc/pwa_pages"]
line_length = 79
