-r requirements.in

# Requirements to build documentation
dataclasses; python_version < '3.7'
graphviz
ipywidgets
jupyter
myst-nb >= 0.11  # myst_enable_extensions
myst-parser != 0.13.2 # https://github.com/executablebooks/MyST-Parser/issues/299
Sphinx >= 3
sphinx-book-theme
sphinx-copybutton
sphinx-math-dollar
sphinx-panels
sphinx-thebe
sphinx-togglebutton
sphinxcontrib-bibtex >= 2.2  # bibtex_reference_style
sympy
